<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WpfMvvm.AttachedProperties" version="0.0.0" targetFramework="net48" />
  <package id="WpfMvvm.Commands" version="0.0.0" targetFramework="net48" />
  <package id="WpfMvvm.Controls" version="0.0.0" targetFramework="net48" />
  <package id="WpfMvvm.Converters" version="0.0.0.1" targetFramework="net48" />
  <package id="WpfMvvm.Extensions" version="0.0.0" targetFramework="net48" />
  <package id="WpfMvvm.Model" version="0.0.0" targetFramework="net48" />
  <package id="WpfMvvm.ViewModel" version="0.0.0" targetFramework="net48" />
  <package id="WpfMvvm.WpfCommands" version="0.0.0" targetFramework="net48" />
</packages>